.addtask{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    .taskname{
        width: 300px;
        font-size: 18px;
        padding: 5px;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        cursor: pointer;
        &.done{
            text-decoration: line-through;
        }
    }
    .deletetask{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-size: 18px;
        padding: 4px 5px;
        color: white;
       
        >*{
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }
        .delete{  
        background-color: red;
        }
       .Complete{
       background-color: green;  
       display: none;
       &.done{
        display: block;
       }  
       }

}
}