.App{
    display: flex;
    align-items: center;
    justify-content: center;
    .parent{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 100px;
    position: relative;
    background-color: #eee;
    width: 700px;
    flex-direction: column;
    padding: 30px 10px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 20px 0px;
        font-weight: bold;
         > * {
          padding: 5px ;
          border-radius: 5px;
          cursor: pointer;
        }
        div {
            &:nth-child(1){
            color:green;
            border: 2px green solid;          
         }
         &:nth-child(2){
            color:red;
            border: 2px red solid;   
            opacity: 60%;       
         }
         &:nth-child(3){
            color:red;
            border: 2px red solid;        
         }
         &:nth-child(4){
            color:green;
            border: 2px green solid;          
         }
         &:nth-child(5){
            color:red;
            border: 2px red solid;          
         }
         &:nth-child(6){
            color:green;
            border: 2px green solid;          
         }
    }
    }

    .add{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .icon{
            font-size: 20px;
            background-color: green;
            padding: 8px;
            cursor: pointer;
            border-radius: 5px;
        }
        input{
            background-color: white;
            border-radius: 20px;
            width: 250px;
            border:2px solid black;
            height: 35px;
            padding: 10px;
            box-sizing: border-box;
            font-size: 20px;
        }
    }

    }

}